CLIENT_URL=http://localhost:5173
PORT=5000
SERVER_URL=http://localhost:5000
MONGODB_URI=mongodb://127.0.0.1:27017/fitness_nutrition_app
JWT_ACCESS_SECRET=replace_me_access_secret
JWT_REFRESH_SECRET=replace_me_refresh_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
OPENAI_API_KEY=your_openai_api_key
